@font-face {
    font-family: tinyHands;
    src: url('../fonts/bf.eot');
    src: url('../fonts/bf.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/bf.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/bf.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/bf.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/bf.svg#svgbf') format('svg');
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3{
    font-family: tinyHands;
}
h4, h5, h6 {
	font-family: 'Montserrat';
}
p {
    font-family: 'Montserrat';
}
html {
    text-align: center;
    float: center;
    padding: 0;
    width: 500px;
    background-color: #424242;
}
body {
    background-color: #424242;
    color: blue-grey darken-4;
    float: center;
    margin: 0;
    text-align: center;
    font-family: tinyHands, 'Open Sans Regular', sans;
}


button,a,i,div:hover {
    opacity: 1;
    text-transform: full-width;
}

.loadspin, #overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

nav ul a,
nav .brand-logo {
    color: #444;
    padding: 0;
    list-style: none;

}
.nav-links .btn {
    background: #a3f321;
}
.nav {
    color: white;
    background-color: blue-grey lighten-1;
    width: 100%;
    height: 56px;
    line-height: 56px;
    overflow: hidden;
}
.nav ul li:hover,
.nav ul li.active {
    background-color: #1976d2;
}

.log {
    margin: 10px 20px 20px 20px;
}
.log textarea {
    width: 100%;
    min-height: 120px;
    margin: 2px;
    background: brown;
    color: yellow;
    border: 1px solid rgb(182, 182, 182);
}

#exec_data {
    min-height: 50px;
}

.sidenav-trigger {
    color: hsl(174, 78%, 23%);
}
.card-title {
    background-color: #000000;
}
.card .card-title,
.card .card-title a {
    color: white;
}
.card a:hover {
    color: black;
}
.card-action {
    background: teal;
}
.card a {
    color: blue-grey darken-2;
    margin-right: 0;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

///////////////////////////



body{
	background: #262626;
    color:#fff;
    margin:0;
}
.row {
    width:100%;
    margin-top:50px;
    background:#1A1A1A;
    border-bottom: 3px solid #FF0057;
    display: grid;
    grid-template-columns: 35% auto 35%;
    align-items: center;
}

.loadspin, #overlay {
    position: fixed;    /* Sit on top of the page content */
    display: none;    /* Hidden by default */
    width: 100%;    /* Full width (cover the whole page) */
    height: 100%;    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);    /* Black background with opacity */
    z-index: 2;    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;

}

#price-container {
    margin-left: 20%;
    background:#353535;
    padding: 0 10px;
    text-align:center;
}
#goal-container {
    padding:20px;
}
h1 {
    margin: 0 0 10px 0;
}
button {
    float:right;
    background:#FF0057;
    border:none;
    color:#fff;
    text-transform:uppercase;
    padding:10px;
    margin-right: 30px;
    cursor:pointer;
}
